@import '../styles/bootstrap-override.scss';

.justify-content-between {
    width: 100% !important;
}

.row-timeline {
    border-top: 1px solid black;
    position: relative;
    align-items: flex-start;
}
.timeline {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.timeline-item {
    display: block;
    position: relative;
    text-align: center;
    margin-right: 30px;  
}
.timeline-item::before{
    content: "";
    position: absolute;
    height: 40px;
    border-right: 1px dashed black;
    top: 0;
}
.description-timeline {
    font-size: 16px;
}
@media (min-width: 1040px) {
    .timeline-item {  
        display: inline-block;
        width: 22%;
        padding-top: calc(36px + (45 - 36)  * ((100vw - 360px) / (1440 - 360)));
    }
    .timeline-year {
        font-size: calc(1.25rem * ((100vw - 360px) / (1440 - 360)));
    }
  }
