#username {
    border-radius: 0 !important;
}

#password {
    border-radius: 0 !important;
}

.text-bold {
    font-weight: 900;
}

.btn {
    width: 100px;
    background-color: black !important;
}

.msg {
    font-size: 14px;
}